#container0 {
  background: url(../assets/Background_Intro.png);
  background-size: cover;
  background-position: center;
}


#introducao {
  padding-top: 120px;
  margin-inline: 163px;

    .icon-avatar {
      width: 112px;
      height: 112px;
      margin-bottom: 56px;
      border: 2px solid var(--red);
      border-color: var(--red);
      border-radius: 50%;
      position: relative;
      padding: 5px;

      .profilepic {
        object-fit: cover;
        width: 100%;
      
      }
     }

    
    .icon-code {
      position: absolute;
      bottom: 0;
      right: 0px; /*a partir dessa posicao ele se distancia*/
      }

      /*especificar bottom ou right/left quando usar absolute */
    

    h2 {
      font: var(--subtitle);
      color: var(--gray-500);
      text-align: center;}



    h1 {
      font: var(--title-lg);
      color: var(--gray-600);
      margin-top: 8px;
      margin-bottom: 20px;
      text-align: center;}



    .destaque {
      color: var(--red);}



    p {
      font: var(--text-sm);
      color: var(--gray-400);
      max-width: 680px;
      text-align: center;}
  
}


#intro-links {
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;

  
 /* margin: auto;
  border: solid red;*/
  /*outra opcao*/

    .caixa {
      display: flex;
      background-color: var(--gray-300);
      border-radius: 999px;
      width: 114px;
      height: 40px;
      align-items: center;
      justify-content: center;

       }}


  .seta {
        display: flex;
        justify-content: center;
        padding-top: 88px;
        padding-bottom: 52px; /*pq?*/
        
        
  }
      

      


