#container1 {
  background-color: var(--gray-200);
  background-size: cover;
  background-position: center;
  height: 917px;
  /*se eu tirar os valores abaixo, porque o meu container0 sera menor do que o especificado?*/
  padding-top: 72px; 
  padding-inline: 120px;
  /* nao seria o padding bottom para criar o espaco entre a grade de projetos e o inicio da secao de ajuda? */ 
  padding-bottom: 44px; 

  /*pq se eu coloco uma margem, aparece uma listra branca? */ 

  /* criei tambem uma estilizacao pro id #grade-de-trabalho {
  margin-bottom: 144px; e tb n foi */

}





.projetos {
  margin-top: 72px;
    p {
      font: var(--subtitle);
      color: var(--red);}

    h3 {
      font: var(--title-md);
      color: var(--gray-600);}
}



.card {
  display: grid;
  background-color: var(--gray-300);
  position: relative;
  overflow: hidden;
  width: 330px;
  height: 275px;
  border-radius: 12px;
  margin-top: 56px;
  
  

    img {
      padding-top: 12px;
      padding-inline: 12px;
      width: 306px;
      height: 156px;
      border-radius: 8px;
      position: absolute;
      align-items: center; /*classifiquei como display grid e inseri o alignitems na esperana que fosse alinhar a foto dentro do card*/
    } 


    span {
      margin-top: 188px;
      position: absolute;
      padding-inline: 12px;}

    h1 {
      font: var(--title-sm);
      color: var(--gray-600);}
    

    h2 {
      margin-top: 8px;
      font: var(--text-sm);
      color: var(--gray-500);}

    

      .card:hover {
    border-color:1px solid var(--gray400);
  }
}
/*nao funciona*/


#ajuda {
  background-color: var(--gray-100);
  height: 480px;
  padding-top: 44px; /*se eu tiro o padding-top fica uma listra branca, esta não deveria de ser o "resto" do meu background aicma? */
  padding-inline: 120px;

}


#opcoes {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 56px;

    h1 {
      font: var(--title-sm);
      color: var(--gray-500);
    }

    span {
      font: var(--text-sm);
      color: var(--gray-600);
    }
 
}

.borda {
  border: 1px solid var(--gray-600);
  border-radius: 12px;
  padding: 20px;
}
